<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.AnimalMapper">
	<cache />
	
	<insert id="insertAnimal" parameterType="Animal">
		<selectKey keyProperty="animal_id" resultType="int" order="BEFORE">
			SELECT animal_id_seq.nextval AS animal_id FROM DUAL
		</selectKey>
				
		INSERT INTO Animal (animal_id,category_id,age,location,image,gender,weight,etc,animal_matched) 
		VALUES (#{animal_id},#{category_id},#{age},#{location}, #{image}, #{gender},#{weight},#{etc},#{animal_matched})
	</insert>

	<select id="findAnimal" parameterType="int" resultType="Animal"> 
		SELECT a.animal_id, a.category_id, a.age, a.location, a.animal_matched, a.image,a.gender,a.weight,a.etc, c.species, c.animal_type
        FROM Animal a JOIN Category c ON a.category_id = c.category_id       			
		WHERE  a.animal_id = #{animal_id} 		
    </select>      
	
 	<delete id="deleteAnimal" parameterType="int">
		DELETE FROM Animal
		WHERE animal_id = #{animal_id}
	</delete>
	
	<select id="findAnimalList" resultType="Animal" >
		SELECT a.animal_id, c.category_id, c.species, a.age, a.location, a.gender,a.image 
        FROM animal a JOIN Category c ON a.category_id = c.category_id  
        ORDER BY a.animal_id desc
    </select>

 
</mapper>